  /* ===== Homepage CSS ===== */

  .result-container {
    display: block;
    width: 820px;
    position: absolute;
    left: 40%;
    margin-top: 30px;
  }

  .pagination-container {
    position: fixed;
    top: 60%;
    left: 10%;
  }